<div [style]="{'background-color': bgColor, 'color': textColor}" class="dark:invert relative w-full max-h-[300px] p-3 shadow-lg hover:shadow-2xl transition duration-200 overflow-hidden lg:rounded cursor-pointer">
    <div class="absolute p-3 w-[400px] h-[400px] transition duration-200 ease-linear rounded-full bg-slate-200 bg-opacity-20 overflow-hidden" [ngStyle]="{ transform: 'translate(' + radialXTransition + ',' + radialYTransition +')'}">  </div>
    <div>
        <h1 class="text-2xl font-semibold border-l-2 uppercase">{{title}}</h1>
        <p class="ml-2 text-base font-source-sans-pro">{{description}}</p>
    </div>
</div>
