@use "/src/scss/themes";
@use "/src/scss/mixins";

.main-navbar {
  .nav-link-container {
    @include mixins.backgroundColor; //pattern
    ul {
      z-index: 1;
    }

    @include mixins.lg {  
      &::after {
        content: '';
        background: unset;
      }
    }
  }
}
