<footer class="w-full py-2  bg-black text-white  mb-[50px] p-2">
   <section class="flex flex-col justify-around lg:flex-row ">
    <div class="w-full lg:w-1/4  my-3">
        <h3 class="mb-2 mx-1 text-2xl text-pink-500 border-l-2 border-pink-500">Links</h3>
        <ul class="mx-4 font-source-sans-pro text-lg divide-y divide-pink-400">
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Courses</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Pricing</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> FAQ</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> About</a></li>
        </ul>
    </div>
    <div class="w-full lg:w-1/4  my-3">
        <h3 class="mb-2 mx-1 text-2xl text-pink-500 border-l-2 border-pink-500">Problems</h3>
        <ul class="mx-4 font-source-sans-pro text-lg divide-y divide-pink-400">
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Forgot Password</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Forgot Email</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Report bug</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Email Confirmation</a></li>
        </ul>
    </div>
    <div class="w-full lg:w-1/4  my-3">
        <h3 class="mb-2 mx-1 text-2xl text-pink-500 border-l-2 border-pink-500">Support</h3>
        <ul class="mx-4 font-source-sans-pro text-lg divide-y divide-pink-400">
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Support Page</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Email: elearning.support@gmail.com </a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Tel: +216295013586</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> Address: Canal Street 5</a></li>
        </ul>
    </div>
    <div class="w-full lg:w-1/4  my-3">
        <h3 class="mb-2 mx-1 text-2xl text-pink-500 border-l-2 border-pink-500">Social Media</h3>
        <ul class="mx-4 font-source-sans-pro text-lg divide-y divide-pink-400">
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200 underlinedecoration-pink-500" href=""> 
                <fa-icon class="text-pink-500" [icon]="fontAwesome.faFacebook"></fa-icon>
                Facebook</a>
            </li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> 
                <fa-icon class="text-pink-500" [icon]="fontAwesome.faTwitter"></fa-icon>
                Twitter</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> 
                <fa-icon class="text-pink-500" [icon]="fontAwesome.faReddit"></fa-icon>
                Reddit</a></li>
            <li class="my-2"><a class="hover:text-pink-500 transition duration-200" href=""> 
                <fa-icon class="text-pink-500" [icon]="fontAwesome.faInstagram"></fa-icon>
                Instagram</a></li>
        </ul>
    </div>
    
   </section>
   <section class="my-3">
       <h3 class="text-center text-base font-source-sans-pro text-pink-300">E-Learning Inc. Copyright 2021 made by <a class="text-pink-500 decoration-white underline"  href="https://facebook.com/alipropatron" target="_blank">AMOR Ali</a> </h3>
   </section>
</footer>