@use "./variables";
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Nanum+Gothic&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

body {
    font-family:  'Nanum Gothic', 'Cairo','Source Sans Pro', sans-serif;
}

// Tailwind Css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        // default Tailwind skin | theme
        --color-accent-text: #{variables.$color-accent-text};
        --color-accent-bg: #{variables.$color-accent-bg};
        --color-accent-hover: #{variables.$color-accent-hover};
        --color-accent-inverted: #{variables.$color-accent-inverted};
        --color-success: #{variables.$color-success};
        --color-success-inverted: #{variables.$color-success-inverted};
        --color-success-text: #{variables.$color-success-text};
        --color-success-bg: #{variables.$color-success-bg};
    }
}