@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

body {
    font-family: 'Source Sans Pro', 'Nanum Gothic', sans-serif;
}

// Tailwind Css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        // default Tailwind skin | theme
        --color-accent-text: #882909;
        --color-accent-bg: #EB751F;
        --color-accent-hover: #FEEED1;
        --color-accent-inverted: #F9BC77;
        --color-success: #78E549;
        --color-success-inverted: #DAFCB7;
        --color-success-text: #228417;
        --color-success-bg: #BEF792;
    }
}