@use "./themes";
@use "./variables";
@use "sass:map";

@mixin sm {
    @media (min-width: variables.$sm) {
        @content;
    }
}
@mixin md {
    @media (min-width: variables.$md) {
        @content;
    }
}
@mixin lg {
    @media (min-width: variables.$lg) {
        @content;
    }
}
@mixin xl {
    @media (min-width: variables.$xl) {
        @content;
    }
}
@mixin xl2 {
    @media (min-width: variables.$xl2) {
        @content;
    }
}

@mixin backgroundColor($iconsColor: rgb(var(--secondary-700)), $bgColor: rgb(var(--primary-500))) {
        &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background-color: $iconsColor;
      opacity: 0.1;
      background: radial-gradient(
          circle,
          transparent 20%,
          $iconsColor 20%,
          $iconsColor 80%,
          transparent 80%,
          transparent
        ),
        radial-gradient(
            circle,
            transparent 20%,
            $iconsColor 20%,
            $iconsColor 80%,
            transparent 80%,
            transparent
          )
          100px 100px,
        linear-gradient($bgColor 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, $bgColor 8px, $iconsColor 8px) -4px 0;
      background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
    }
}