/**
* Default color theme
*/
$color-accent-text: #882909;
$color-accent-bg: #EB751F;
$color-accent-hover: #FEEED1;
$color-accent-inverted: #F9BC77;
$color-success: #78E549;
$color-success-inverted: #DAFCB7;
$color-success-text: #228417;
$color-success-bg: #BEF792;